# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\TEACH\git4\lekce7_maven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
